body {
    background-color: rgba(196, 196, 196, 0.336);
    font-family: sans-serif;
    font-size: 1.1em;
}

head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5em;
}

header {
    background-color: #9E0101;
    border-radius: 12px;
    height: 70px;
    display: grid;
    grid-template-columns: auto auto auto;
    white-space: nowrap;
    padding-top: 20px;
    padding-left: 431px;
}

h1 {
    font-size: 4em;
    color: white;
    margin: -14px -227px;
    font-family: 'Montserrat', sans-serif;
}
h2 {
    font-size: 3em;
    color: black;
    margin: 24px 70px -15px;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 3px solid;
}
main {
    display: grid;
    grid-template-columns: 1fr;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
    box-shadow: 6px 6px 6px grey;
        border-radius: 12px;
        width: 80%;
    height: auto;
}
p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
        font-size: 2em;
}
a {
    color: rgb(167, 57, 57);
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

a:hover {
    text-decoration: underline;
}
design1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
footer {
    background-color: #9E0101;
    color: white;
    border-radius: 12px;
    height: 70px;
    font-family: 'Montserrat', sans-serif;
}
@media only screen and (min-width: 600px) {
    .portrait {
        float: right;
        box-shadow: 6px 6px 6px grey;
        border-radius: 12px;
        width: 50%;
        height: auto;
    }
    h1 {
        color: aquamarine;
    }
}