/*  --primary-color: #A7CCED; light blue
  --secondary-color: #304D6D; dark blue
  --accent1-color: #6888E8; blue blue
  --accent2-color: #9EA6B1; gray
*/
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Raleway:ital@1&display=swap");

body {
  background-color: #A7CCED;
  font-family: "Patrick Hand", cursive, sans-serif;
  font-size: 1.1em;
}

header {
  align-items: center;
  display: grid;
  grid-template-columns: 110px auto;
}
nav a {
  color: #304D6D;
  font-size: 1.1em;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
}

nav ul li {
  text-align: center;
}
.logo-box {
  width: 150%;
}
main p {
  line-height: 1.5em;
}

h2 {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 1.8em;
  padding: 0.5em;
  margin-bottom: -10px;
  border-top: 5px double;
  border-bottom: 5px double;
}

img {
  max-width: 100%;
}

#content {
  max-width: 960px;
  margin: 0 auto;
}
.home-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
}

.home-headline-1 {
  grid-column: 1/4;
  grid-row: 1/2;
}
.home-paragraph-1 {
  grid-column: 2/4;
  grid-row: 2/4;
}
.home-right-img {
  grid-column: 4/6;
  grid-row: 1/3;
}

.home-headline-2 {
  grid-column: 3/6;
  grid-row: 4/5;
  text-align: right;
}

.home-paragraph-2 {
  grid-column: 4/6;
  grid-row: 5/7;
}
.home-left-img {
  grid-column: 1/3;
  grid-row: 4/6;
  box-sizing: border-box;
}

#banner-image {
  width: 100%;
  height: auto;
}
.banner-box img {
  width: 100%;
}

.home-paragraph-3 {
  grid-column: 1/6;
  grid-row: 7/8;
  text-align: center;
}

.home-left-img,
.home-right-img {
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 5px 5px 5px #999;
}
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.5em;
  align-items: center;
}
.social {
  text-align: right;
}

header,
footer {
  background-color: #9EA6B1;
}
.description {
  font-size: 25px;
  margin-top: 0em;
  text-align: center;
}
.adventure-grid {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(10, auto);
  justify-items: center;
}
.adventure-headline-1 {
  grid-column: 1/3;
  grid-row: 1/2;
}

.adventure-paragraph-1 {
  grid-column: 2/4;
  grid-row: 2/3;
}

.adventure-calendar-1-img {
  grid-column: 4/6;
  grid-row: 2/4;
}

.adventure-paragraph-1-sub {
  grid-column: 2/4;
  grid-row: 3/5;
}

.adventure-headline-2 {
  grid-column: 1/3;
  grid-row: 5/6;
}

.adventure-paragraph-2 {
  grid-column: 2/4;
  grid-row: 6/7;
}

.adventure-calendar-2-img {
  grid-column: 4/6;
  grid-row: 6/6;
}
.adventure-headline-3 {
  grid-column: 1/3;
  grid-row: 8/9;
}
.adventure-paragraph-3 {
  grid-column: 2/4;
  grid-row: 9/10;
}
.adventure-calendar-3-img {
  grid-column: 4/6;
  grid-row: 9/9;
}
.adventure-calendar-3-img,
.adventure-calendar-2-img,
.adventure-calendar-1-img {
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 5px 5px 5px #999;
}

@media screen and (max-width: 550px) {
  /* beginning of media query */
  .home-grid,
  nav ul {
    display: block;
  }
  .social img {
    width: 45px;
  }
}

/* end of media query */
