body {
    background-color: rgba(196, 196, 196, 0.336);
    font-family: sans-serif;
    font-size: 1.1em;
}

head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5em;
}

header {
    background-color: #9E0101;
    border-radius: 12px;
    height: 70px;
    
    grid-template-columns: auto auto auto;
   }


h2 {
    font-family: "Raleway", Arial, sans-serif;
    font-size: 1.8em;
    padding: 0.5em;
    margin-bottom: -10px;
    border-bottom: 3px solid;
}

a {
    color: rgb(240, 119, 119);
    font-size: 1.1em;
    text-decoration: underline;
    ;
}

a:hover {
    text-decoration: underline;
}

nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
}

nav ul li {
    text-align: center;
}

footer {
    background-color: #9E0101;
    color: white;
    border-radius: 12px;
    height: 70px;
}

.home-headline-1 {
    display: grid;
    text-align: center;
    padding: 10px;
}

.links-grid {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    color: rgb(48, 47, 61)
}

.name {
    display: grid;
    grid-template-columns: 2/3;
        font-size: 2em;
    white-space: nowrap;
    color: white;
    padding-top: 20px;
    padding-left: 500px;
   
}

.portrait {
    max-width: 150%;
    overflow: auto;
    float: right;
    height: 265px;
    margin-right: 118px;
    margin-left: 500px;
    margin-top: -47px;
    box-shadow: 6px 6px 6px grey;
    border-radius: 12px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.social {
    font-size: 1em;
    white-space: nowrap;
    align-items: center;
    color: white;
    padding-top: 20px;
    padding-left: 422px;
}