body {
    background-color: rgb(214, 246, 221);
}

h1 {
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    color: rgb(0, 39, 97);
    font-size: 40px;
    
}

.img-grid {
    display: grid;
    grid-template-columns: 1fr;
    /* background-color: #2196F3; */
    /* padding: 10px; */
    overflow: auto;
    resize: horizontal;
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
    width:300px;
    margin-left: 380px;
}

img[data-src] {
    filter: blur(5px);
}

img {
    filter: blur(0px);
}