@media screen and (min-width: 60em) {
    header {
        border-width: 5px;
    }
    nav {
        border-width: 5px;
    }
    .navigation a {
        white-space: nowrap;
        font-size: 1.5em;
    }
    .headings h1 {
        font-size: 3.5rem;
    }
    .m {
        letter-spacing: 1.5pt;
        font-size: 2rem;
        margin-left: 17px;
        margin-top: -10px;
    }
    p {
        font-size: 1.5em;
    }
    /* h1{
        
    } */
    h2 {
        font-size: 2.0em;
        margin: 0px;
    }
    form label.top input, form label.top select {
        width: 100%;
        max-width: 20rem;
    }
    form label.middle {
        padding: .4rem 0;
    }
    form fieldset {
        margin: 1rem 250px;
    }
    form input.sumbitBtn {
        margin: -12px 0 2rem 40%;
    }
    .levelDesc_table {
        font-size: 18px;
        margin-left: 75px;
    }
    caption {
        font-size: 22px;
    }
    .contact {
        margin: 0rem 250px;
    }
    .contact h3 {
        margin-left: -814px;
    }
    .boardDirectors {
        margin: .5rem 250px;
    }
    .ifarticle1 {
        width: 35%;
        margin-left: 214px;
    }
    .trivbuttons {
        margin-right: 0;
        margin-top: 20px;
    }
    .trivsumbitBtn
    {
        width: 60%;
    margin-left: 100px;
    margin-top: 43px;
    margin-bottom: 13px;
    }
    .votebuttons {
        margin-right: 0;
        margin-top: 20px;
        margin-bottom: 13px;
    }
    .ifarticle2 {
        width: 35%;
        padding-bottom: 0px;
        margin-left: 786px;
        margin-top: -222px;
        margin-bottom: -24px;
    }
    .lastTrivia {
        width: 30%;
        margin-left: 565px;
        margin-top: 35px;
    }
    .ifarticle3 {
        width: 36%;
        margin-left: 216px;
        margin-top: 20px;
        margin-bottom: 37px;
    }
    .ifarticle4 {
        width: 35%;
        margin-left: 785px;
        margin-top: -701px;
        margin-bottom: 5px;
    }
    .ifarticle5 {
        height: 327px;
    width: 519px;
    margin-left: 215px;
    margin-bottom: 90px;
    }
    #triv-image {
        display: block;
        width: auto;
        height: 92px;
        margin-top: 10px;
        margin-bottom: 10px;
        box-shadow: 10px 10px 50px rgb(0 39 97);
        margin-left: 175px;
    }
    .socialMedia {
        padding-top: 10px;
        text-align: right;
    }
    footer {
        font-size: 1.8em;
        height: 64px;
        white-space: nowrap;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        border-width: 5px;
    }
}