:root {
    /*---------------- colors---------------------- */
    --head: rgb( 161, 198, 234);
    --background: rgb(218, 227, 229);
    --accent1: rgb(129, 244, 153);
    --accent2: rgb(80, 125, 188);
    --accent3: rgb(0, 39, 97);
    --accent4: rgb(194, 47, 79);
    --paragraph: black;
    /*---------------- fonts---------------------- */
    --heading-font: 'Kiwi Maru', serif;
    --paragraph-font: 'Open Sans', sans-serif;
}

body {
    background-color: var(--background);
}

header {
    background-color: var(--head);
    border-color: var(--accent2);
    border-style: solid;
    border-width: 2px;
    font-family: var(--heading-font);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

header img {
    width: 80px;
    height: auto;
}

.headings {
    display: flex;
    flex-direction: column;
}

.headings h1 {
    font-size: 1.5em;
    margin: 0 0 0 17px;
    font-family: var(--heading-font);
    color: var(--accent3);
}

.m {
    font-style: italic;
    letter-spacing: 1pt;
    color: var(--accent4);
    margin-left: 40px;
    font-size: 1rem;
    text-align: right;
}

nav {
    background-color: var(--head);
    border-color: var(--accent2);
    border-style: solid;
    border-width: 2px;
    margin: 5px auto;
    align-items: center;
    font-family: var(--heading-font);
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.navigation {
    list-style: none;
    text-align: center;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    text-decoration: none;
    color: var(--accent4);
}

nav li a {
    color: var(--accent2);
    text-decoration: none;
    font-size: .9em;
}

.navigation a:hover {
    text-decoration: underline;
    text-decoration-color: var(--accent3);
}

nav li a.active {
    text-decoration: underline;
    text-decoration-color: var(--accent3);
}

.fallsHead {
    font-size: 38px;
    color: var(--accent3);
    text-align: center;
}

.hero {
    position: relative;
    width: 95%;
    max-width: 960px;
    height: auto;
    margin: 10px auto;
    border-style: none;
}

#iftown img {
    position: relative;
    width: 100%;
    max-width: 960px;
    height: auto;
    margin: 0px auto -5px 0px;
    border-style: none;
}

.weather-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 15px;
    border-color: var(--head);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    margin-left: 5px;
    width: 95%;
    font-family: var(--paragraph-font);
}

.current_header {
    text-align: center;
    color: var(--accent3);
    grid-column: 1/4;
    grid-row: 1/1;
}

.grid-item1 {
    grid-column: 1/2;
    grid-row: 2/2;
    padding-top: 25px;
    padding-left: 5px;
    font-size: 12px;
}

.grid-item2 {
    grid-column: 3/2;
    grid-row: 2/3;
    padding-top: 45px;
    font-size: 12px;
    text-align: center;
}

.grid-item3 {
    grid-column: 1/4;
    grid-row: 2/2;
    padding-top: 27px;
    font-size: 12px;
    text-align: center;
}

.grid-item4 {
    grid-column: 2/4;
    grid-row: 2/2;
    padding-top: 28px;
    padding-left: 88px;
    font-size: 12px;
    text-align: center;
}

.forecast_header {
    text-align: center;
    color: var(--accent3);
    grid-column: 1/4;
    grid-row: 3/3;
}

.grid-item5 {
    grid-column: 1/1;
    grid-row: 4/4;
    font-size: 12px;
    text-align: center;
}

.grid-item6 {
    grid-column: 1/1;
    grid-row: 5/6;
    padding: 17px;
    font-size: 12px;
    text-align: center;
}

.grid-item7 {
    grid-column: 1/1;
    grid-row: 6/7;
    padding: 17px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
    text-align: center;
}

.grid-item8 {
    grid-column: 2/2;
    grid-row: 4/5;
    font-size: 12px;
    text-align: center;
}

.grid-item9 {
    grid-column: 2/2;
    grid-row: 5/6;
    padding: 17px;
    font-size: 12px;
    text-align: center;
}

.grid-item10 {
    grid-column: 2/2;
    grid-row: 6/7;
    padding: 17px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
    text-align: center;
}

.grid-item11 {
    grid-column: 3/3;
    grid-row: 4/5;
    font-size: 12px;
    text-align: center;
}

.grid-item12 {
    grid-column: 3/3;
    grid-row: 5/6;
    padding: 17px;
    font-size: 12px;
    text-align: center;
}

.grid-item13 {
    grid-column: 3/3;
    grid-row: 6/7;
    padding: 17px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
    text-align: center;
}

.joinbtn {
    border: none;
    background-color: var(--accent3);
    color: white;
   
    font-family: var(--heading-font);
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
   justify-content: center;
}

.events_home {
    font-family: var(--paragraph-font);
    margin-top: 15px;
    border-color: var(--head);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
    width: 95%;
}

.homeArticle1, .homeArticle2, .feature1, .feature2, .feature3 {
    margin-top: 15px;
    border-color: var(--head);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
    width: 95%
}

.grid {
    display: none;
}

.list {
    display: none;
}

.responsive li {
    display: block;
}

h1, h2, h3 {
    font-family: var(--heading-font);
    color: var(--accent3);
    text-align: center;
}

.joinHead {
    color: var(--accent3);
    text-align: center;
}

p {
    font-family: var(--paragraph-font);
    font-size: 12px;
}

form fieldset {
    margin-top: 1rem;
    border-color: var(--accent2);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: .5rem;
}

form legend {
    color: var(--accent3);
    margin: 0 1rem;
    padding: 0 .5rem;
    font-family: var(--heading-font);
}

form label.top, form div {
    display: block;
    padding-top: .5rem;
    color: var(--accent3);
    font-size: 1rem;
    font-family: var(--heading-font);
}

form label.top input, form label.top select, textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px var(--accent2);
    border-radius: 4px;
    padding: .75rem;
    color: var(--accent3);
    width: 96%;
    max-width: 15rem;
    background-color: rgb(129, 186, 255);
}

form label.middle {
    display: block;
    padding: .75rem;
    color: var(--accent3);
    font-family: var(--heading-font);
}

form input.sumbitBtn {
    border: none;
    background-color: var(--accent3);
    color: white;
    font-family: var(--heading-font);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: -12px 0 0rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

.levelDesc_table {
    font-family: var(--paragraph-font);
    align-items: center;
    font-size: 12px;
    border: solid 5px var(--accent2);
    border-radius: 4px;
}

caption {
    font-size: 15px;
    font-family: var(--heading-font);
    color: var(--accent3);
}

.confirmation {
    font-size: 15px;
    font-family: var(--heading-font);
    color: var(--accent3);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 150px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    text-align: center;
    overflow: auto;
    resize: horizontal;
    grid-gap: 2px 2px;
    padding-top: 20px;
    justify-content: center;
    margin-left: 20px;
}

section {
    margin-left: 36px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: 2px solid var( --accent2);
    border-radius: 10px;
    width: 250px;
    align-content: center;
    justify-content: center;
}

.ifarticle1, .ifarticle2, .ifarticle3, .ifarticle4, .ifarticle5 {
    margin-top: 15px;
    border-color: var(--head);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    width: 95%
}

.article1 {
    font-family: var(--paragraph-font);
    font-size: 12px;
    text-overflow: ellipsis;
    padding: 6px;
}

.trivia {
    font-family: var(--paragraph-font);
    font-size: 12px;
    padding: 6px;
    padding-bottom: 20px;
}

.trivText {
    font-family: var(--paragraph-font);
    font-size: 12px;
    text-overflow: ellipsis;
    padding: 0px 6px;
}

/* .homeText {
    font-family: var(--paragraph-font);
    font-size: 12px;
    text-overflow: ellipsis;
    padding: 6px;
} */

.articleText {
    font-family: var(--paragraph-font);
    font-size: 12px;
    text-overflow: ellipsis;
    padding: 6px;
}

.info {
    margin-top: 15px;
    border-color: var(--head);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-left: 10px;
    width: 90%;
}

#art-image, #triv-image {
    display: none;
}

.trivbuttons, .votebuttons {
    border: none;
    background-color: var(--accent3);
    color: white;
    font-family: var(--heading-font);
    border-radius: 1rem;
    padding: 0.3em;
    margin-left: 5px;
}

.question {
    font-size: 15px;
}

.events {
    font-family: var(--paragraph-font);
}

.lastTrivia {
    border: none;
    background-color: var(--accent3);
    color: white;
    font-size: 18px;
    font-family: var(--heading-font);
    border-radius: 1rem;
    padding: 0.5rem;
    width: 100%;
    margin-top: 15px;
}

.trivsumbitBtn, .votesumbitBtn, .questionsumbitBtn {
    border: none;
    background-color: var(--accent3);
    color: white;
    font-size: 18px;
    font-family: var(--heading-font);
    border-radius: 1rem;
    padding: 0.5rem;
    width: 100%;
    margin-top: 15px;
}

.cards img {
    height: auto;
    width: 29%;
    box-shadow: 0px 0px 11px -1px #171f49;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

.cards p {
    font-family: var(--paragraph-font);
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
}

.cards h2 {
    font-size: 15px;
}

.contact {
    margin-top: 2rem;
    border-color: var(--accent2);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: .5rem;
}

.contact h3 {
    margin-left: -152px;
}

.contact p {
    margin-left: 70px;
}

iframe {
    width: 300px;
    height: 250px;
}

.disclaimer {
    font-size: .6em;
    font-style: italic;
    margin-left: 100px;
}

.boardDirectors {
    margin-top: 10px;
    border-color: var(--accent2);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: .5rem;
    font-family: var(--paragraph-font);
    font-size: 15px;
}

.boardDirectors h1 {
    text-align: center;
    font-size: 22px;
}

.socialMedia {
    text-align: center;
    padding-top: 10px;
}

footer {
    background-color: var(--head);
    border-color: var(--accent2);
    border-style: solid;
    border-width: 2px;
    font-family: var(--heading-font);
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.social a:hover {
    text-decoration: none;
    text-decoration-color: var(--accent3);
    display: inline;
}

.social {
    font-size: .9em;
    color: var(--accent3);
    text-align: center;
}