body {
    background-color: rgb(214, 246, 221);
    margin: 10px;
    padding-bottom: 140px;
}

#eventBanner {
    background-color: rgb(0, 39, 97);
    border-color: rgb(135, 151, 178);
    border-style: solid;
    border-width: 2px;
    margin: 5px auto;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    padding: 5px 0;
    display: none;
    justify-content: center;
}

header {
    background-color: rgb(129, 186, 255);
    border-color: rgb(135, 151, 178);
    border-style: solid;
    border-width: 2px;
    font-family: 'Architects Daughter', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}


header img {
    width: 80px;
    height: auto;
}

.headings {
    display: flex;
    flex-direction: column;
}

.headings h1 {
    font-size: 1em;
    margin: 0 0 0 17px;
    font-family: 'Architects Daughter', cursive;
    color: rgb(0, 39, 97);
}

h1 {
    font-size: 1em;
    margin: 0 0 0 17px;
    font-family: 'Architects Daughter', cursive;
    color: rgb(0, 39, 97);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.m {
    font-style: italic;
    letter-spacing: 1pt;
    color: rgb(0, 39, 97);
    margin-left: 40px;
    font-size: .9rem;
    
}

nav {
    background-color: rgb(129, 186, 255);
    border-color: rgb(135, 151, 178);
    border-style: solid;
    border-width: 2px;
 
    align-items: center;
    font-family: 'Architects Daughter', cursive;
    justify-content: center;
    margin: 5px;
    padding-right: 35px;
}

.navigation {
    list-style: none;
    text-align: center;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    text-decoration: none;
    color: rgb(58, 51, 53);
}

nav li a {
    color: rgb(58, 51, 53);
    text-decoration: none;
    font-size: .9em;
}

.navigation a:hover {
    background-color: rgb(0, 39, 97);
    color: rgb(129, 186, 255);
}

nav li a.active {
    background-color: rgb(13, 55, 119);
    color: rgb(129, 186, 255);
}

nav li a:hover:not(.active) {
    background-color: rgb(0, 39, 97);
    color: rgb(129, 186, 255);
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    margin: 15px;
    overflow: auto;
    resize: horizontal;
    grid-gap: 10px;
    justify-content: center;
}

.grid-item {
    margin: 5px;
    border: 2px solid rgb(0, 39, 97);
    width: 250px;
    align-content: center;
    justify-content: center;
}

figcaption {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: rgb(58, 51, 53);
    text-align: right;
}

img[data-src] {
    filter: blur(5px);
}

img {
    filter: blur(0px);
    max-width: 250px;
}

.responsive li {
    display: block;
}

.hero {
    position: relative;
    width: 100%;
    max-width: 960px;
    height: auto;
}

#hero-image img {
    position: relative;
    max-width: 100%;
    height: auto;
}

.summary {
    border: 5px dashed rgb(129, 186, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
    font-size: 12px;
}

.forecast {
    display: none;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 39, 97);
    font-size: 1.2em;
    text-align: center;
}

h3 {
    font-size: 1em;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.5em;
    color: rgb(58, 51, 53);
}

.article {
    border-color: rgb(135, 151, 178);
    border-style: solid;
    border-width: 2px;
}

.articleText {
    font-size: 12px;
    height: 475px;
    text-overflow: ellipsis;
    padding: 10px;
}

.contact {
    border: 5px dashed rgb(129, 186, 255);
    margin-top: 10px;
    margin-bottom: 10px;
}

#map-image {
    display: none;
}

.info {
    text-align: center;
    justify-content: center;
    font-size: 12px;
}

.socialMedia {
    text-align: center;
}

/*--------------Form-----------------------*/

form fieldset {
    margin: 2rem 0;
    border-color: rgb(135, 151, 178);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: .5rem;
}

form legend {
    color: rgb(0, 39, 97);
    margin: 0 1rem;
    padding: 0 .5rem;
    font-family: 'Montserrat', sans-serif;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: rgb(0, 39, 97);
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

form label.top input, form label.top select, textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: rgb(0, 39, 97);
    width: 96%;
    max-width: 15rem;
    background-color: rgb(129, 186, 255);
}

form label.middle {
    display: block;
    padding: .75rem;
    color: rgb(0, 39, 97);
    font-family: 'Montserrat', sans-serif;
}

form input.sumbitBtn {
    border: none;
    background-color: rgb(0, 39, 97);
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: -12px 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

.flexly {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: rgb(0, 39, 97);
    padding-left: 0px;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

#ratingvalue {
    margin: 0 15px;
    color: rgb(0, 39, 97);

}

#tickmarks {
    color: rgb(0, 39, 97);
    
}

.comments {
    margin: 2rem 0;
    border-color: rgb(135, 151, 178);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: .5rem;
}

/*--------------Footer----------------------*/

footer {
    background-color: rgb(129, 186, 255);
    border-color: rgb(135, 151, 178);
    border-style: solid;
    border-width: 2px;
    font-family: 'Architects Daughter', cursive;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}


.social a:hover {
    background-color: rgb(0, 39, 97);
    color: rgb(129, 186, 255);
    display: inline;
}

.social {
    font-size: .9em;
    color: rgb(0, 39, 97);
    text-align: center;
}