@media screen and (min-width: 60em) {
    p {
        font-size: 1.5em;
    }
    h1, h2 {
        font-size: 2.5em;
    }
    .logo {
        height: 129px;
        margin-left: -16px;
        margin-top: -136px;
    }
    nav li a {
        font-size: 1.0em;
    }
    footer {
        font-size: 1.5em;
        height: 64px;
        white-space: nowrap;
        text-align: center;
        padding-top: 20px;
    }
}